{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h2>Newsletter</h2>
    <p>Sign up to our newsletter to stay up to date with new coaching packages!</p>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>E-mail</label>
            <input name="email" type="email" class="form-control"
                placeholder="Your email address...">
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}