{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-75">
    <div class="row align-items-center h-75">
        <div class="col-4">
            <h2>Who we are</h2>
            <p>We are a group of gamers who have 15-20 years of competitive gaming experience each,
                as we get older we have less time to grind like we used to so we decided to come together
                and become coaches to help others.
            </p>
        </div>
        <div class="col-4">
            <h2>What we do</h2>
            <p>We provide a premium coaching service which is aimed to help all types of gamers reach the 
                rank of their dreams and play like pros, we have many different games that users can choose from with a selection
                of tiers. Improve with us!
            </p>
        </div>
        <div class="col-4">
            <h2>How we do</h2>
            <p>The way it works is quite simple. Once you've placed your order we will email
                you to discuss the more intricate details such as your <a href="https://discord.com/" target="_blank" rel="noopener">discord</a> username which is
                what we use to do our live coaching sessions so you can recieve feedback instantly.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-4">
            <h4>
                <a href="{% url 'products' %}" class="book-now-button btn btn-primary">Book Now</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}