{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-4"><h2>Who we are</h2></div>
            <div class="col-4"><h2>What we do</h2></div>
            <div class="col-4"><h2>How we do</h2></div>
            <div class="">
                <h4>
                    <a href="{% url 'products' %}" class="book-now-button btn btn-black">Book Now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}