html {
    height: 100%;
}

body {
    /* full image for home page background */
    background: url('/media/') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    height: 100%;
}

/* alerts */
#alerts{
    margin-top: 12vh;
}


/* from Bulma (keep icons centered) */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* site buttons */

.book-now-button {
    color: white;
    min-width: 260px;
}

.book-now-button:hover,
.book-now-button:active,
.book-now-button:focus {
    background: rgb(0, 0, 0);
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* make ahref cursor hover to pointer */
.remove-item {
    cursor: pointer;
}

/* overlay for rest of the site to remove the background img */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(255, 255, 255);
    /* z-index ensure it sits behind content */
    z-index: -1;
}

/* centering forms */
.form-center {
    display: flex;
    justify-content: center;
}

.log-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-bg {
    background-color: rgb(222, 197, 228);
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
}

/* footer */

.footer {
    background-color: #6c757d;
    height: 150px;
    padding: 20px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}