{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <h2>CONTACT US</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Name</label>
            <input name="name" type="text" class="form-control"
                placeholder="Your name...">
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input name="email" type="email" class="form-control"
                placeholder="Your email address...">
        </div>

        <div class="form-group">
            <label>Message</label>
            <textarea name="message" class="form-control" rows="3"
                placeholder="How can we help..."></textarea>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}